<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Verify</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button secondary (click)="scan()" round full style="margin-top: 20px;">
    <ion-icon name="qr-scanner" style="margin-right: 5px;"></ion-icon>Scan ticket</button>
  <button ion-button secondary (click)="input()" round full style="margin-top: 20px;">
    <ion-icon name="code-working" style="margin-right: 5px;"></ion-icon>Enter payment ID</button>
  <ng-container *ngIf="payment$ | async as payment">
    <ion-card>
      <ion-card-header>
        Ticket actions
      </ion-card-header>
      <ion-card-content>
        <h3 *ngIf="payment?.valid" style="color: green;">This ticket hasn't been checked yet</h3>
        <h3 *ngIf="!payment?.valid" style="color: red;">This ticket has been checked already</h3>
        <i>Last checked {{validChanged$ | async}}</i>
        <button *ngIf="payment?.valid" ion-button class="invalidate" (click)="changeValidity(payment?.id, false)" round full style="margin-top: 20px;">Check ticket</button>
        <button *ngIf="!payment?.valid" ion-button class="validate" (click)="changeValidity(payment?.id, true)" round full style="margin-top: 20px;">Uncheck ticket</button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Ticket details
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <h2>Payment ID</h2>
          <p>{{payment?.id}}</p>
        </ion-item>

        <ion-item>
          <h2>Transaction ID</h2>
          <p>{{payment?.transactionId || 'N/A'}}</p>
        </ion-item>

        <ion-item>
          <h2>First name</h2>
          <p>{{payment?.userInfo.firstName}}</p>
        </ion-item>

        <ion-item>
          <h2>Last name</h2>
          <p>{{payment?.userInfo.lastName}}</p>
        </ion-item>

        <ion-item>
          <h2>Nickname</h2>
          <p>{{payment?.userInfo.nickname}}</p>
        </ion-item>

        <ion-item>
          <h2>Email</h2>
          <p>{{payment?.userInfo.email}}</p>
        </ion-item>

        <ion-item>
          <h2>Ticket type</h2>
          <p>{{payment?.type}}</p>
        </ion-item>

        <ion-item>
          <h2>Ticket duration</h2>
          <p>{{payment?.duration}}</p>
        </ion-item>

        <ion-item *ngIf="payment?.extras">
          <h2>Ticket extras</h2>
          <p>{{payment?.extras.join(', ')}}</p>
        </ion-item>

        <ion-item>
          <h2>Payment status</h2>
          <p>{{payment?.status}}</p>
        </ion-item>

        <ion-item *ngIf="payment?.paymentOn">
          <h2>Payment on</h2>
          <p>{{payment?.paymentOn}}</p>
        </ion-item>

        <ion-item>
          <h2>Payment total</h2>
          <p>{{payment?.total}} {{payment?.currency}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="seat$ | async as seat">
    <ion-card>
      <ion-card-header>
        Seat details
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <h2>Seat area</h2>
          <p>{{seat?.type}}</p>
        </ion-item>

        <ion-item>
          <h2>Seat ID</h2>
          <p>{{seat?.seat}}</p>
        </ion-item>

        <ion-item>
          <h2>Seat duration</h2>
          <p>{{seat?.duration}}</p>
        </ion-item>

        <ion-item>
          <h2>Seat username</h2>
          <p>{{seat?.username}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
